{
  "presets": [
    "react-app"
  ],
  "env": {
    "production": {
      "plugins": [
        "transform-remove-console",
        "@babel/plugin-transform-runtime"
      ],
      "presets": [
        "minify"
      ]
    }
  }
}
