{
  "presets": [
    "react-app"
  ],
  "env": {
    "production": {
      "plugins": [
        ["transform-remove-console"],
        [
          "@babel/plugin-transform-runtime",
          {
            "absoluteRuntime": false,
            "corejs": false,
            "helpers": true,
            "regenerator": true,
            "useESModules": false
          }
        ]
      ],
      "presets": [
        "minify"
      ]
    }
  }
}
