{
  "presets": [
    "react-app"
  ],
  "env": {
    "production": {
      "plugins": [
        ["transform-remove-console"],
        ["@babel/plugin-transform-runtime", {
          "corejs": 2
        }]
      ],
      "presets": [
        "minify"
      ]
    }
  }
}
